################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.cache
*.scssc
/MyLife/Frontend/assets/dialog/wilma.html
/MyLife/Frontend/assets/dialog/val.html
/MyLife/Frontend/assets/dialog/susan.html
/MyLife/Frontend/assets/dialog/sally.html
/MyLife/Frontend/assets/dialog/ricky.html
/MyLife/Frontend/assets/dialog/README.md
/MyLife/Frontend/assets/dialog/laura.html
/MyLife/Frontend/assets/dialog/ken.html
/MyLife/Frontend/assets/dialog/jim.html
/MyLife/Frontend/assets/dialog/jamie.html
/MyLife/Frontend/assets/dialog/index.html
/MyLife/Frontend/assets/dialog/henry.html
/MyLife/Frontend/assets/dialog/donna.html
/MyLife/Frontend/assets/dialog/don.html
/MyLife/Frontend/assets/dialog/dean.html
/MyLife/Frontend/assets/dialog/cathy.html
/MyLife/Frontend/assets/dialog/annie.html
/MyLife/Frontend/assets/dialog/alex.html
/MyLife/Frontend/assets/dialog/.DS_Store
/MyLife/.vs/
/MyLife/obj/
