article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.dialog {
    width: calc(100% - 180px);
	height: calc(100% - 50px);
	top: 50px;
	left:180px;
}
.dialog__overlay {
	 width: 100%;
	height: 100%;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity:0.3;
	pointer-events: auto;
}

.dialog__content {
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
    margin-top: -20% !important;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}
.dialog-inner {
    width:420px;
    background:#fff;
    opacity: 0;
    padding:0 !important;
}
.dialog-head {
    position:relative;
}
.confirm-dialog-head {
    height: auto;
    line-height: 1em;
    font-size: 16px;
    color: #666;
    padding: 30px 40px 10px 40px;
    box-shadow: 0 0 0 transparent;
    border-bottom: none;
}
.dialog-close-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 10px;
    cursor: pointer;
}
.dialog-body {
    padding: 20px 26px 45px 26px;
    line-height: 26px;
}
.confirm-dialog-content {
    padding: 20px 40px;
    font-size: 14px;
    color: #666;
    word-break: break-all;
}
.dialog-foot {
    padding: 10px 40px 30px 40px;
    height: 32px;
}
.confirm-dialog-foot {
    text-align: right;
    font-size: 0;
    white-space: nowrap;
}
.dialog-foot .button {
    height:30px;
    font-size:12px;
    border-radius:2px;
    float:none;
    margin-right:8px;
    line-height:28px;
    display:inline-block;
}
.button-border {
    border:1px solid #c3c4c6;
}
    .button-border:hover {
        border-color: #9ea0a3;
        background: #FFF;
        background: -webkit-linear-gradient(top, #fff, #fbfbfb);
        color:#41464b;
    }

