
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Frontend/css/Cost.css" />
<style>
    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        font-size: 16px;
    }
</style>
<div class="container">
    <div class="dataShow">
        <div class="cost-left">
            <div class="cost-table">
                <div class="toolbar">
                    <div class="prev">
                        <button  type="button" id="prev" class="button button-action"></button>
                    </div>
                    <div class="search">
                        <div class="input-group">
                            <input type="text" class="input" id="searchInput"/>
                            <span class="search">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="next">
                        <button  type="button" id="next" class="button button-action"></button>
                    </div>
                </div>
                <div class="tableContainer">
                    <table class="table table-hover scroll">
                        <thead>
                            <tr>
                                <th style="width:80px">名称</th>
                                <th style="width:120px">消费时间</th>
                                <th>说明</th>
                                <th style="width:50px">消费类型</th>
                                <th style="width:50px">支付类型</th>
                                <th style="width:30px">金额</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>消费总计</td>
                                <td colspan="5">
                                    <span id="total"></span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="cost-linechart">

            </div>
        </div>
        <div class="cost-right">
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="dataEntry">
        <ul class="actions">
            <li>
                <label>花了多少钱</label>
                <input class="input" id="money" type="number" />
            </li>
            <li>
                <label>买了个什么？</label>
                <input class="input" id="what" type="text" />
            </li>
            <li>
                <label>为什么要买</label>
                <textarea class="input" id="desc"></textarea>
            </li>
            <li>
                <label>消费类型</label>
                <select class="input" data-dictionary="消费类型" id="costType"></select>
            </li>
            <li>
                <label>支付类型</label>
                <select class="input" data-dictionary="支付类型" id="payType"></select>
            </li>
            <li class="submit">
                <button class="button button-primary disabled" id="buy">买 了~</button>
            </li>
        </ul>
    </div>
</div>
@section scripts{
    <script src="~/Frontend/js/JsRender.js"></script> 
    <script src="~/Frontend/assets/icon/iconfont.js"></script>
    <script id="tableRow" type="text/x-jsrender" >
        <tr>            
            <td style="width:80px">{{:GoodName}}</td>
            <td style="width:120px">{{:CostDate}}</td>
            <td>{{:Description}}</td>
            <td style="width:50px">{{:CostName}}</td>
            <td style="width:50px">{{:PayName}}</td>
            <td style="width:30px">{{:Money}}</td>
        </tr>
    </script>
    <script>
        let costs=@Html.Raw(Json.Encode(ViewData["costs"]));
    </script>
    <script src="~/Frontend/js/app/cost.js"></script>
}

