<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Frontend/css/bootstrap/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Frontend/js/jquery-3.1.0.min.js"></script>
    <script src="~/Frontend/js/bootstrap.min.js"></script>    
</body>
</html>
