<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Frontend/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Frontend/css/fontAwesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Frontend/css/Index.css" />
</head>
<body>
    <nav class="navbar navbar-fixed-top">
    </nav>
    <div class="main-container">
        <div class="sidebar">
            <!--包裹一层200px的div用来，遮盖内部180px的滚动条-->
            <div class="sidebar-content" id="sidebar">
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script src="~/Frontend/js/jquery-3.1.0.min.js"></script>
    <script src="~/Frontend/js/bootstrap.min.js"></script>  
    <script src="~/Frontend/js/app/index.js"></script>
</body>
</html>
