
@{
    ViewBag.Title = "Blog";
}
<link rel="stylesheet"  href="~/Frontend/css/Blog.css"/>
<div class="container">
    <div class="list-crumb"></div>
    <ul class="list-container"></ul>
</div>
@section scripts{
    <script src="~/Frontend/js/app/blog.js"></script>
    <script type="text/javascript">

    </script>
}
