
@{
    ViewBag.Title = "博客";
    ViewBag.Header = "博客";
}
<link rel="stylesheet" href="~/Frontend/assets/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet"  href="~/Frontend/css/Blog.css"/>
<link rel="stylesheet"  href="~/Frontend/assets/dialog/css/dialog-wilma.css"/>
<div class="container">
    <div >
        <div class="list-crumb"></div>
        <a class="list-switch" href="javascript:void(0);">
            <i class="fa"></i>
            <span class="list-mode-name"></span>
        </a>
    </div>    
    <ul class="list-container clearfix"></ul>
</div>
<div id="dialog" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="morph-shape">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 420 280" preserveAspectRatio="none">
                <rect x="3" y="3" fill="none" width="416" height="274" />
            </svg>
        </div>
        <div class="dialog-inner">
            <div class="dialog-head confirm-dialog-head">
                <span class="dialog-title"></span>
                <span class="dialog-close-icon fa fa-close dialog-close" data-dialog-close></span>
            </div>
            <div class="dialog-body confirm-dialog-content"></div>
            <div class="dialog-foot confirm-dialog-foot">
                <buttom class="button button-primary button-rounded button-small button-caution dialog-confirm">确认删除</buttom>
                <button class="button button-small button-border dialog-close">取消</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script id="blog-tile" type="text/x-jsrender">
        <li class="list-item" id="{{:ID}}">
            <div class="list-box">
                <a data-id="{{:ID}}">
                    <div class="item-content {{if FileType=="folder"}} folder-content {{else}} doc-content {{/if}}" data-id="{{:ID}}" draggable="true">
                        <div class="{{if FileType=="folder"}} blog-folder {{else}} blog-doc {{/if}} "></div>
                        <div class="item-title">{{:Title}}</div>
                        <div class="item-setting">
                            <span class="blog-icon-setting"></span>
                        </div>
                    </div>
                </a>
                <div draggable="false" class="file-operations" data-id="{{:ID}}">
                    <div class="trangle">
                        <span class="list-trangle-item top"></span>
                        <span class="list-trangle-item down"></span>
                    </div>
                    <div class="menu-list">
                        <div class="menu-title">
                            <input class="title-input input" placeholder="{{if FileType=="folder"}} 文件夹名称 {{else}} 文档名称 {{/if}}" value="{{:Title}}" />
                        </div>
                        <hr />
                        <div class="menu-item delete">
                            <span class="icon-delete"></span>
                            <span>删除</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </script>
    <script id="blog-list" type="text/x-jsrender">
        <li class="list-item" id="{{:ID}}">
            <a data-id="{{:ID}}">
                <div class="item-content clearfix {{if FileType=="folder"}} folder-content {{else}} doc-content {{/if}}" data-id="{{:ID}}" draggable="true">
                    <span class="list-table-cell file-name">
                        <i class="file-icon {{if FileType=="folder"}} folder-icon {{else}} doc-icon {{/if}}"></i>
                        <span class="item-title">{{:Title}}</span>
                    </span>
                    <span class="list-table-cell file-update">
                        <span class="file-update-time">{{:CreateDate}}</span>
                    </span>
                    <div class="item-setting">
                        <span class="blog-icon-setting"></span>
                    </div>
                </div>
            </a>
            <div draggable="false" class="file-operations" data-id="{{:ID}}">
                <div class="trangle">
                    <span class="list-trangle-item top"></span>
                    <span class="list-trangle-item down"></span>
                </div>
                <div class="menu-list">
                    <div class="menu-title">
                        <input class="title-input input" placeholder="{{if FileType=="folder"}} 文件夹名称 {{else}} 文档名称 {{/if}}" value="{{:Title}}" />
                    </div>
                    <hr />
                    <div class="menu-item delete">
                        <span class="icon-delete"></span>
                        <span>删除</span>
                    </div>
                </div>
            </div>
        </li>
    </script>
    <script src="~/Frontend/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Frontend/js/JsRender.js"></script>
    <script src="~/Frontend/js/app/blog.js"></script>
}
