
@{
    ViewBag.Title = "愿望单";
}
<link rel="stylesheet" href="~/Frontend/css/Wish.css"/>
<link rel="stylesheet" href="~/Frontend/assets/modal/css/bootstrap.css" />
<div class="container">
    <div class="title">
        <span class="remind">提示</span>
        <span class="title-content">
            愿望单会有冷冻期，通常与清单金额和愿望系数有关，解冻期过后可酌情购买。
        </span>
    </div>
    <div class="search-bar">
        <input type="text" class="wish-search input" />
        <button type="button" class="button button-primary search">
            <span>查询</span>
        </button>
        <button type="button" class="button button-primary add">
            <span>添加愿望单</span>        
        </button>
    </div>
    <div id="wishContent">
        <table class="table table-hover scroll">
            <thead>
                <tr>
                    <th style="width:40px;text-align:center">
                        <input type="checkbox" class="selectAll" />
                    </th>
                    <th style="width:120px">名称</th>
                    <th style="width:80px">价格</th>
                    <th>说明</th>
                    <th style="width:120px">添加时间</th>
                    <th style="width:180px">期望值</th>
                    <th style="width:180px">状态</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
            <tfoot>
                <tr>
                    <td style="width:80px;">合计金额</td>
                    <td style="width:150px;" id="total"></td>
                    <td colspan="5">
                        <div id="page-list"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加愿望清单</h4>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="group">
                        <label>名称</label>
                        <div class="input-wrap">
                            <input type="text" class="input" id="wishName" />
                        </div>
                    </div>
                    <div class="group">
                        <label>价格</label>
                        <div class="input-wrap">
                            <input type="number" class="input" id="wishPrice" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group">
                        <label>用途</label>
                        <div class="input-wrap" style="flex:9">
                            <textarea class="input" id="wishPurpose" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group">
                        <label>需求度</label>
                        <div class="input-wrap"  style="flex:9">
                            <div id="raty"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">取 消</button>
                <button type="button" class="button button-primary save disabled">保 存</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Frontend/assets/modal/js/bootstrap.min.js"></script>
    <script src="~/Frontend/assets/icon/iconfont.js"></script>
    <script src="~/Frontend/assets/raty/lib/jquery.raty.js"></script>
    <script src="~/Frontend/js/app/wish.js"></script>
    <script src="~/Frontend/js/JsRender.js"></script>
    <script id="tableRow" type="text/x-jsrender">
        <tr>
            <td style="width:40px;text-align:center"><input type="checkbox" class="selectItem" data-id="{{:ID}}" /></td>
            <td style="width:120px">{{:Name}}</td>
            <td style="width:80px">{{:Price}}</td>
            <td>{{:Info}}</td>
            <td style="width:120px">{{:CreateDate}}</td>
            <td style="width:180px" class="degree" data-id="{{:ID}}"><div ></div></td>
            <td style="width:180px" class="timer" data-id="{{:ID}}" data-time="{{:EndDate}}"></td>
        </tr>
    </script>
    <script>
        let wishs=@Html.Raw(Json.Encode(ViewData["wishUnits"]));
    </script>
}


