/* line 2, ../scss/Admin.scss */
.container {
  height: 100%;
  padding: 20px;
}

/* line 6, ../scss/Admin.scss */
.adminTitle {
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;
  min-height: 50px;
}
/* line 11, ../scss/Admin.scss */
.adminTitle h5 {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  text-indent: 8px;
  border-left: 2px solid #88B7E0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 8px;
  vertical-align: top;
}

/* line 23, ../scss/Admin.scss */
.adminContent {
  height: 180px;
  display: flex;
  flex-flow: row;
}
/* line 28, ../scss/Admin.scss */
.adminContent .adminImg {
  width: 160px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
/* line 34, ../scss/Admin.scss */
.adminContent .adminImg img {
  height: 140px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 42, ../scss/Admin.scss */
.adminContent .adminImg .editImgUrl {
  color: #06C;
  cursor: pointer;
  margin-top: 8px;
  display: block;
}
/* line 50, ../scss/Admin.scss */
.adminContent .adminInfo {
  flex: 1;
  padding: 5px;
}
/* line 53, ../scss/Admin.scss */
.adminContent .adminInfo p {
  margin-bottom: 20px;
}

/* line 58, ../scss/Admin.scss */
#imgUrl {
  width: 100%;
}
