/* line 3, ../scss/base.scss */
div, ul, li {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/base.scss */
textarea {
  height: 80px !important;
}

/* line 10, ../scss/base.scss */
ul, li {
  list-style: none;
}

/* line 14, ../scss/base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 22, ../scss/base.scss */
a:hover {
  text-decoration: none !important;
}

/* line 25, ../scss/base.scss */
hr {
  margin-top: 4px;
  border-bottom: 0;
  border-left: 0;
  border-top: 1px solid #dedede;
  margin-bottom: 4px;
  height: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 34, ../scss/base.scss */
.input {
  box-sizing: border-box;
  display: block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  color: #555555;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* line 48, ../scss/base.scss */
.input:focus {
  outline: 0;
  border-color: #a6a6a6 !important;
}

/* line 53, ../scss/base.scss */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 57, ../scss/base.scss */
.btn-group .btn {
  position: relative;
  float: left;
}
/* line 61, ../scss/base.scss */
.btn-group > .btn + .btn {
  margin-left: -1px;
}

/* line 65, ../scss/base.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  text-decoration: none;
}

/* line 79, ../scss/base.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* line 97, ../scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}

/* line 102, ../scss/base.scss */
.table {
  background: #F5F6FA;
  font-size: 12px;
  border-top: 1px solid #e1e6eb;
  margin-top: 8px;
  border: 1px solid #e1e6eb;
  width: 100%;
}
/* line 109, ../scss/base.scss */
.table td, .table th {
  line-height: 1.428571429;
  vertical-align: top;
}
/* line 115, ../scss/base.scss */
.table thead tr:first-child th {
  border-top: 0;
}
/* line 119, ../scss/base.scss */
.table thead tr th {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid #e1e6eb;
  background-color: #F5F6FA;
  text-align: left;
}
/* line 128, ../scss/base.scss */
.table tbody {
  background-color: #fff;
}
/* line 132, ../scss/base.scss */
.table tbody tr:last-child td {
  border-bottom: 0;
}
/* line 136, ../scss/base.scss */
.table tbody tr td {
  padding: 12px 8px;
  border-top: 0px;
  border-bottom: 1px solid #e1e6eb;
  vertical-align: middle;
}
/* line 144, ../scss/base.scss */
.table tbody tr.nodata td {
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 22px;
}
/* line 152, ../scss/base.scss */
.table tbody tr.nodata:hover td {
  background-color: #FFF !important;
}
/* line 160, ../scss/base.scss */
.table tfoot tr td {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-top: 1px solid #e1e6eb;
  background-color: #F5F6FA;
  text-align: left;
}

/* line 171, ../scss/base.scss */
.table-hover tbody tr:hover td {
  background-color: #F9F9FA;
}

/* line 174, ../scss/base.scss */
.scroll tbody {
  display: block;
  overflow-y: auto;
}

/* line 178, ../scss/base.scss */
.scroll thead, .scroll tbody tr, .scroll tfoot tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* line 96, blog/*.png */
.blog-sprite, .list-container.Tile .item-content .blog-folder, .list-container.Tile .item-content .blog-doc, .list-container.Tile .item-content .item-setting .blog-icon-setting, .list-container.Tile .item-content .item-setting:hover .blog-icon-setting, .list-container.List .file-icon.folder-icon, .list-container.List .file-icon.doc-icon, .list-container.List .item-setting .blog-icon-setting, .file-operations .icon-delete, #sortHelper-folder, #sortHelper-doc {
  background-image: url('/Frontend/images/blog-s627436029b.png');
  background-repeat: no-repeat;
}

/* line 6, ../scss/Blog.scss */
.container {
  width: calc(100% - 180px);
  padding: 20px 90px;
  margin: 0 auto;
  position: relative;
  height: calc(100% - 81px);
  overflow: auto;
}

/* line 15, ../scss/Blog.scss */
.handle {
  position: absolute;
  left: 10px;
  top: 14px;
}

/* line 22, ../scss/Blog.scss */
.list-crumb {
  position: relative;
  display: inline-block;
}
/* line 25, ../scss/Blog.scss */
.list-crumb .crumb-item {
  color: #6886aa;
  margin: 0 7px;
  padding: 3px;
  font-size: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
}
/* line 33, ../scss/Blog.scss */
.list-crumb .crumb-item:hover {
  color: #6093bb;
  cursor: pointer;
}
/* line 37, ../scss/Blog.scss */
.list-crumb .crumb-item.droppable {
  opacity: 1;
  background: rgba(220, 220, 220, 0.2);
  border: 1px solid #ddd;
}
/* line 42, ../scss/Blog.scss */
.list-crumb .crumb-item.drophover {
  -moz-transition: 0.1s, ease-in;
  -o-transition: 0.1s, ease-in;
  -webkit-transition: 0.1s, ease-in;
  transition: 0.1s, ease-in;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background-color: rgba(233, 244, 255, 0.5);
  border-color: #97afc9;
}
/* line 49, ../scss/Blog.scss */
.list-crumb .now-crumb {
  color: #666;
  padding: 3px;
  margin: 0 7px;
  font-size: 12px;
  border: 1px solid transparent;
}

/* line 57, ../scss/Blog.scss */
.list-switch {
  display: none;
  float: right;
  line-height: 14px;
  outline: none;
  cursor: pointer;
  color: #7d7d7d;
  text-decoration: none;
}
/* line 65, ../scss/Blog.scss */
.list-switch:focus {
  outline: none !important;
}
/* line 68, ../scss/Blog.scss */
.list-switch:hover {
  color: #333;
}

/* line 72, ../scss/Blog.scss */
.list-container {
  color: #333;
}
/* line 75, ../scss/Blog.scss */
.list-container.Tile .list-item {
  height: 127px;
  width: 122px;
  margin-top: 24px;
  margin-right: 6px;
  position: relative;
  float: left;
}
/* line 84, ../scss/Blog.scss */
.list-container.Tile .item-content {
  width: 122px;
  height: 126px;
  cursor: pointer;
  position: relative;
  line-height: 175px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 93, ../scss/Blog.scss */
.list-container.Tile .item-content .blog-folder {
  width: 80px;
  height: 60px;
  position: relative;
  margin: 16px auto 10px auto;
  background-position: 0 -152px;
  -moz-transition: 0.2s, ease-in;
  -o-transition: 0.2s, ease-in;
  -webkit-transition: 0.2s, ease-in;
  transition: 0.2s, ease-in;
}
/* line 101, ../scss/Blog.scss */
.list-container.Tile .item-content .blog-doc {
  display: block;
  width: 60px;
  height: 80px;
  position: relative;
  margin: 6px auto 0 auto;
  background-position: 0 -46px;
}
/* line 109, ../scss/Blog.scss */
.list-container.Tile .item-content .item-title {
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  color: #666;
  width: 106px;
  word-break: break-all;
  line-height: 18px;
  max-height: 40px;
  margin: 0 auto;
}
/* line 120, ../scss/Blog.scss */
.list-container.Tile .item-content .item-setting {
  height: 26px;
  width: 26px;
  position: absolute;
  right: 1px;
  line-height: 20px;
  top: 100px;
  display: none;
  cursor: pointer;
}
/* line 129, ../scss/Blog.scss */
.list-container.Tile .item-content .item-setting .blog-icon-setting {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
  background-position: 0 -224px;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.list-container.Tile .item-content .item-setting .blog-icon-setting:hover, .list-container.Tile .item-content .item-setting .blog-icon-setting.icon-setting-hover {
  background-position: 0 -212px;
}
/* line 140, ../scss/Blog.scss */
.list-container.Tile .item-content .item-setting:hover .blog-icon-setting {
  background-position: 0 -212px;
}
/* line 145, ../scss/Blog.scss */
.list-container.Tile .item-content.hover {
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #f3f4f5;
}
/* line 149, ../scss/Blog.scss */
.list-container.Tile .item-content.hover .item-setting {
  display: block;
}
/* line 153, ../scss/Blog.scss */
.list-container.Tile .item-content.droppable {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
/* line 157, ../scss/Blog.scss */
.list-container.Tile .item-content.drophover .blog-folder {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 164, ../scss/Blog.scss */
.list-container.Tile.onDrag .item-content {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 169, ../scss/Blog.scss */
.list-container.List {
  margin-top: 30px !important;
}
/* line 170, ../scss/Blog.scss */
.list-container.List .item-content {
  height: auto !important;
  color: #666;
}
/* line 173, ../scss/Blog.scss */
.list-container.List .item-content.hover {
  cursor: pointer;
  background-color: #f3f4f5;
}
/* line 176, ../scss/Blog.scss */
.list-container.List .item-content.hover .item-setting {
  display: block;
}
/* line 182, ../scss/Blog.scss */
.list-container.List > :first-child {
  border-top: 1px solid #e5e5e5;
}
/* line 185, ../scss/Blog.scss */
.list-container.List .list-item {
  display: block;
  position: relative;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 191, ../scss/Blog.scss */
.list-container.List .list-item .list-table-cell {
  font-size: 14px;
  padding-left: 25px;
  display: inline-block;
}
/* line 197, ../scss/Blog.scss */
.list-container.List .file-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  float: left;
  margin: 10px 10px 0 0;
}
/* line 203, ../scss/Blog.scss */
.list-container.List .file-icon.folder-icon {
  background-position: 0 -126px;
}
/* line 206, ../scss/Blog.scss */
.list-container.List .file-icon.doc-icon {
  background-position: 0 -20px;
}
/* line 210, ../scss/Blog.scss */
.list-container.List .file-name {
  float: left;
}
/* line 213, ../scss/Blog.scss */
.list-container.List .file-update {
  white-space: nowrap;
  float: right;
  margin-right: 60px;
}
/* line 218, ../scss/Blog.scss */
.list-container.List .item-setting {
  position: absolute;
  top: 11px;
  right: 9px;
  height: 26px;
  width: 26px;
  display: none;
}
/* line 225, ../scss/Blog.scss */
.list-container.List .item-setting .blog-icon-setting {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
  background-position: 0 -224px;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.list-container.List .item-setting .blog-icon-setting:hover, .list-container.List .item-setting .blog-icon-setting.icon-setting-hover {
  background-position: 0 -212px;
}
/* line 236, ../scss/Blog.scss */
.list-container.List .file-operations {
  top: 40px;
  right: -89px;
  left: auto;
}

/* line 243, ../scss/Blog.scss */
.file-operations {
  position: absolute;
  -moz-box-shadow: 0 5px 8px 0 #ccc;
  -webkit-box-shadow: 0 5px 8px 0 #ccc;
  box-shadow: 0 5px 8px 0 #ccc;
  top: 132px;
  left: 0;
  width: 220px;
  background: #fff;
  color: #7d7d7d;
  z-index: 100;
  display: none;
  cursor: default;
  border-radius: 3px;
}
/* line 244, ../scss/Blog.scss */
.file-operations hr {
  width: 192px;
}
/* line 258, ../scss/Blog.scss */
.file-operations.active {
  display: block;
}
/* line 262, ../scss/Blog.scss */
.file-operations .trangle .list-trangle-item {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #fff;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  top: -7px;
  left: 102px;
  background: none;
  border-top: none;
}
/* line 275, ../scss/Blog.scss */
.file-operations .trangle .list-trangle-item.top {
  top: -8px;
  border-bottom-color: rgba(136, 136, 136, 0.2);
  z-index: 10;
}
/* line 280, ../scss/Blog.scss */
.file-operations .trangle .list-trangle-item.down {
  z-index: 11;
}
/* line 285, ../scss/Blog.scss */
.file-operations .menu-item {
  height: 36px;
  line-height: 36px;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
  color: #41464b;
  padding-left: 14px;
}
/* line 293, ../scss/Blog.scss */
.file-operations .menu-item.delete {
  margin-top: 4px;
}
/* line 296, ../scss/Blog.scss */
.file-operations .menu-item:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZThlOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWZmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e8e9), color-stop(100%, #eeeff0));
  background-image: -moz-linear-gradient(top, #e7e8e9, #eeeff0);
  background-image: -webkit-linear-gradient(top, #e7e8e9, #eeeff0);
  background-image: linear-gradient(to bottom, #e7e8e9, #eeeff0);
}
/* line 300, ../scss/Blog.scss */
.file-operations .menu-list {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  border-radius: 3px;
}
/* line 306, ../scss/Blog.scss */
.file-operations .menu-title {
  padding: 0 10px 8px 10px;
}
/* line 308, ../scss/Blog.scss */
.file-operations .menu-title .title-input {
  height: 20px;
  line-height: 20px;
  padding: 3px 9px;
  margin-right: 0px;
  width: 180px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
  -webkit-box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
  box-shadow: 0px 1px 3px 0px #e5e5e5 inset;
}
/* line 319, ../scss/Blog.scss */
.file-operations .icon-delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
  background-position: 0 0;
}

/* line 329, ../scss/Blog.scss */
.item-placeholder {
  height: 127px;
  width: 120px;
  margin-top: 24px;
  margin-right: 6px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #f3f4f5;
  float: left;
}

/* line 339, ../scss/Blog.scss */
#sortHelper-folder {
  width: 80px !important;
  height: 60px !important;
  margin: 16px auto 10px auto;
  background-position: 0 -152px;
}

/* line 345, ../scss/Blog.scss */
#sortHelper-doc {
  width: 60px !important;
  height: 80px !important;
  margin: 6px auto 0 auto;
  background-position: 0 -46px;
}
