/* line 1, ../scss/Blog.scss */
div, ul, li {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/Blog.scss */
ul, li {
  list-style: none;
}

/* line 8, ../scss/Blog.scss */
.clearfix {
  height: 1%;
}
/* line 10, ../scss/Blog.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 18, ../scss/Blog.scss */
.container {
  width: 896px;
  padding: 34px 115px 140px 165px;
  margin: 0 auto;
  position: relative;
}

/* line 26, ../scss/Blog.scss */
.list-crumb {
  position: relative;
}
/* line 28, ../scss/Blog.scss */
.list-crumb .crumb-item {
  color: #6886aa;
  padding: 5px;
  font-size: 14px;
}
/* line 32, ../scss/Blog.scss */
.list-crumb .crumb-item:hover {
  color: #6093bb;
  cursor: pointer;
}
/* line 37, ../scss/Blog.scss */
.list-crumb .now-crumb {
  color: #666;
  padding: 5px;
  font-size: 14px;
}

/* line 43, ../scss/Blog.scss */
.list-container {
  color: #333;
}
/* line 45, ../scss/Blog.scss */
.list-container .list-item {
  position: relative;
  float: left;
  height: 127px;
  width: 122px;
  margin-top: 24px;
  margin-right: 6px;
}
