/* line 2, ../scss/Dictonary.scss */
.container {
  height: calc(100% - 101px);
  padding: 40px 0 20px 0;
  position: relative;
}
/* line 6, ../scss/Dictonary.scss */
.container .button {
  position: absolute;
  left: 10px;
  top: 5px;
}

/* line 12, ../scss/Dictonary.scss */
.dictionaryItem {
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px #ddd;
  background-color: #fff;
  color: #969696;
}

/* line 18, ../scss/Dictonary.scss */
.column {
  display: inline-block;
  padding: 0 20px;
  vertical-align: top;
}
