/* line 1, ../scss/Dictonary.scss */
.container {
  height: calc(100% - 101px);
  padding: 40px 0 20px 0;
  position: relative;
}
/* line 5, ../scss/Dictonary.scss */
.container .button {
  position: absolute;
  left: 10px;
  top: 5px;
}

/* line 11, ../scss/Dictonary.scss */
.dictionaryItem {
  border: 1px solid #808080;
}

/* line 14, ../scss/Dictonary.scss */
.column {
  display: inline-block;
  padding: 0 20px;
  vertical-align: top;
}
