/* line 3, ../scss/Index.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 9, ../scss/Index.scss */
.navbar {
  background-color: #09C;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* line 17, ../scss/Index.scss */
.main-container {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  background-color: #1ABC9C;
  z-index: 100;
}
/* line 24, ../scss/Index.scss */
.main-container .sidebar {
  width: 180px;
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  background-color: #293038;
  z-index: 102;
  overflow-x: hidden;
}
/* line 33, ../scss/Index.scss */
.main-container .sidebar .sidebar-content {
  width: 200px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
/* line 40, ../scss/Index.scss */
.main-container .content {
  left: 180px;
  background-color: #eaedf1;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/* line 52, ../scss/Index.scss */
.sidebar-nav {
  width: 180px;
}
/* line 54, ../scss/Index.scss */
.sidebar-nav .sidebar-title {
  height: 40px;
  background: #22282e;
  color: #fff;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}
/* line 61, ../scss/Index.scss */
.sidebar-nav .sidebar-title:hover {
  background-color: #414d5c;
}
/* line 65, ../scss/Index.scss */
.sidebar-nav .sidebar-title-icon {
  display: inline-block;
  margin: 0 8px 8px 20px;
  vertical-align: middle;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
/* line 71, ../scss/Index.scss */
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 77, ../scss/Index.scss */
.sidebar-nav .sidebar-trans {
  -moz-transition: all 0.25s ease, ease 0.25s;
  -o-transition: all 0.25s ease, ease 0.25s;
  -webkit-transition: all 0.25s ease, ease 0.25s;
  transition: all 0.25s ease, ease 0.25s;
}
/* line 80, ../scss/Index.scss */
.sidebar-nav .nav-item {
  position: relative;
}
/* line 84, ../scss/Index.scss */
.sidebar-nav li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
/* line 90, ../scss/Index.scss */
.sidebar-nav li a:hover {
  background: #37424f;
}
/* line 92, ../scss/Index.scss */
.sidebar-nav li a:hover .nav-icon, .sidebar-nav li a:hover .nav-title {
  color: #fff;
}
/* line 98, ../scss/Index.scss */
.sidebar-nav li.active a {
  background: #0099cc;
}
/* line 100, ../scss/Index.scss */
.sidebar-nav li.active a .nav-icon, .sidebar-nav li.active a .nav-title {
  color: #fff;
}
/* line 106, ../scss/Index.scss */
.sidebar-nav .nav-icon {
  width: 50px;
  text-align: center;
  font-size: 16px;
  float: left;
  color: #aeb9c2;
}
/* line 113, ../scss/Index.scss */
.sidebar-nav .nav-title {
  float: left;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 130px;
}
/* line 123, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold .sidebar-title {
  background-color: #37424f;
  border-bottom: 1px solid #414d5c;
}
/* line 127, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold .sidebar-title-icon {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 130, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold ul {
  height: 0 !important;
  overflow: hidden;
}
