/* line 2, ../scss/base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/base.scss */
div, ul, li {
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/base.scss */
textarea {
  height: 80px !important;
}

/* line 12, ../scss/base.scss */
ul, li {
  list-style: none;
}

/* line 16, ../scss/base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 24, ../scss/base.scss */
.nopadding {
  padding: 0 !important;
}

/* line 27, ../scss/base.scss */
a {
  text-decoration: none !important;
}

/* line 30, ../scss/base.scss */
a:hover {
  text-decoration: none !important;
}

/* line 33, ../scss/base.scss */
a:focus {
  outline-style: none !important;
}

/* line 36, ../scss/base.scss */
hr {
  margin-top: 4px;
  border-bottom: 0;
  border-left: 0;
  border-top: 1px solid #dedede;
  margin-bottom: 4px;
  height: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 45, ../scss/base.scss */
.input {
  box-sizing: border-box;
  display: block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  color: #555555;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* line 59, ../scss/base.scss */
.input:focus {
  outline: 0;
  border-color: #a6a6a6 !important;
}

/* line 64, ../scss/base.scss */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 68, ../scss/base.scss */
.btn-group .btn {
  position: relative;
  float: left;
}
/* line 72, ../scss/base.scss */
.btn-group > .btn + .btn {
  margin-left: -1px;
}

/* line 76, ../scss/base.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  text-decoration: none;
}

/* line 90, ../scss/base.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* line 108, ../scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}

/* line 113, ../scss/base.scss */
.table {
  background: #F5F6FA;
  font-size: 12px;
  border-top: 1px solid #e1e6eb;
  margin-top: 8px;
  border: 1px solid #e1e6eb;
  width: 100%;
}
/* line 120, ../scss/base.scss */
.table td, .table th {
  line-height: 1.428571429;
}
/* line 125, ../scss/base.scss */
.table thead tr:first-child th {
  border-top: 0;
}
/* line 129, ../scss/base.scss */
.table thead tr th {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid #e1e6eb;
  background-color: #F5F6FA;
  text-align: left;
}
/* line 138, ../scss/base.scss */
.table > tbody {
  background-color: #fff;
}
/* line 142, ../scss/base.scss */
.table > tbody > tr:last-child td {
  border-bottom: 0;
}
/* line 146, ../scss/base.scss */
.table > tbody > tr td {
  padding: 12px 8px;
  border-top: 0px;
  border-bottom: 1px solid #e1e6eb;
  vertical-align: middle;
}
/* line 154, ../scss/base.scss */
.table > tbody tr.nodata td {
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 22px;
}
/* line 162, ../scss/base.scss */
.table > tbody tr.nodata:hover td {
  background-color: #FFF !important;
}
/* line 170, ../scss/base.scss */
.table tfoot tr td {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-top: 1px solid #e1e6eb;
  background-color: #F5F6FA;
  text-align: left;
}

/* line 181, ../scss/base.scss */
.table-hover tbody tr:hover td {
  background-color: #F9F9FA;
}

/* line 184, ../scss/base.scss */
.scroll tbody {
  display: block;
  overflow-y: auto;
}

/* line 188, ../scss/base.scss */
.scroll thead, .scroll tbody tr, .scroll tfoot tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* line 5, ../scss/Index.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei" !important;
  font-size: 12px !important;
}

/* line 11, ../scss/Index.scss */
.navbar {
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
}

/* line 20, ../scss/Index.scss */
.main-container {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  background-color: #f0f0f0;
  z-index: 100;
}
/* line 27, ../scss/Index.scss */
.main-container .sidebar {
  width: 180px;
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  background-color: #293038;
  z-index: 102;
  overflow-x: hidden;
}
/* line 36, ../scss/Index.scss */
.main-container .sidebar .sidebar-content {
  width: 200px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
/* line 43, ../scss/Index.scss */
.main-container .content {
  left: 180px;
  background-color: #f7f7f7;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 53, ../scss/Index.scss */
.main-container .content .header {
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
/* line 57, ../scss/Index.scss */
.main-container .content .header span {
  letter-spacing: 10px;
  font-size: 18px;
  line-height: 39px;
  color: #808080;
  height: 39px;
  display: inline-block;
  padding: 0 20px 0 30px;
  border-bottom: 2px solid #0099cc;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}

/* line 74, ../scss/Index.scss */
.sidebar-nav {
  width: 180px;
}
/* line 76, ../scss/Index.scss */
.sidebar-nav .sidebar-title {
  height: 40px;
  background: #22282e;
  color: #fff;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}
/* line 83, ../scss/Index.scss */
.sidebar-nav .sidebar-title:hover {
  background-color: #414d5c;
}
/* line 87, ../scss/Index.scss */
.sidebar-nav .sidebar-title-icon {
  display: inline-block;
  margin: 0 8px 8px 20px;
  vertical-align: middle;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
/* line 93, ../scss/Index.scss */
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 99, ../scss/Index.scss */
.sidebar-nav .sidebar-trans {
  -moz-transition: all 0.25s ease, ease 0.25s;
  -o-transition: all 0.25s ease, ease 0.25s;
  -webkit-transition: all 0.25s ease, ease 0.25s;
  transition: all 0.25s ease, ease 0.25s;
}
/* line 102, ../scss/Index.scss */
.sidebar-nav .nav-item {
  position: relative;
}
/* line 106, ../scss/Index.scss */
.sidebar-nav li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
/* line 112, ../scss/Index.scss */
.sidebar-nav li a:hover {
  background: #37424f;
}
/* line 114, ../scss/Index.scss */
.sidebar-nav li a:hover .nav-icon, .sidebar-nav li a:hover .nav-title {
  color: #fff;
}
/* line 120, ../scss/Index.scss */
.sidebar-nav li.active a {
  background: #0099cc;
}
/* line 122, ../scss/Index.scss */
.sidebar-nav li.active a .nav-icon, .sidebar-nav li.active a .nav-title {
  color: #fff;
}
/* line 128, ../scss/Index.scss */
.sidebar-nav .nav-icon {
  width: 50px;
  text-align: center;
  font-size: 16px;
  float: left;
  color: #aeb9c2;
}
/* line 135, ../scss/Index.scss */
.sidebar-nav .nav-title {
  float: left;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 130px;
}
/* line 145, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold .sidebar-title {
  background-color: #37424f;
  border-bottom: 1px solid #414d5c;
}
/* line 149, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold .sidebar-title-icon {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 152, ../scss/Index.scss */
.sidebar-nav.sidebar-nav-fold ul {
  height: 0 !important;
  overflow: hidden;
}
