/* line 1, ../scss/Wish.scss */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 16px;
  color: greenyellow;
  margin-left: 5px;
  margin-bottom: -1px;
}

/* line 12, ../scss/Wish.scss */
.container {
  height: 100%;
  padding: 20px;
}

/* line 16, ../scss/Wish.scss */
.title {
  font-size: 14px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
}
/* line 24, ../scss/Wish.scss */
.title .remind {
  color: #e38800;
  font-weight: 900;
  margin-right: 10px;
}

/* line 30, ../scss/Wish.scss */
.wish-search {
  width: 250px;
  display: inline;
}

/* line 34, ../scss/Wish.scss */
.search {
  margin-left: 20px;
}

/* line 37, ../scss/Wish.scss */
.add {
  float: right;
}

/* line 40, ../scss/Wish.scss */
.raty {
  float: right;
}

/* line 43, ../scss/Wish.scss */
.wishList {
  height: 209px;
  overflow: auto;
}
/* line 46, ../scss/Wish.scss */
.wishList table {
  width: 100%;
}
/* line 49, ../scss/Wish.scss */
.wishList table tr td {
  border-bottom: 1px solid #e1e6eb !important;
  background-color: #F9F9FA;
}
/* line 55, ../scss/Wish.scss */
.wishList table tr:last-child td {
  border-bottom: 0 !important;
}
/* line 60, ../scss/Wish.scss */
.wishList table tr:first-child td {
  border-bottom: 1px solid #e1e6eb !important;
}

/* line 66, ../scss/Wish.scss */
.wishName {
  color: #0094ff;
}
/* line 68, ../scss/Wish.scss */
.wishName:hover {
  color: #b200ff;
}

/* line 72, ../scss/Wish.scss */
#wishPic {
  height: 100%;
  width: 100%;
  border: 0 !important;
  vertical-align: middle;
  outline: 0;
}

/* line 79, ../scss/Wish.scss */
.control {
  text-align: right !important;
}
/* line 81, ../scss/Wish.scss */
.control .button {
  margin-right: 8px;
}

/* line 85, ../scss/Wish.scss */
.countdown {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}
