@import "compass/css3";
@import "compass/utilities/sprites";
@import "blog/*.png";
div,ul,li{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
.clearfix{
    height:1%;
    &:after{
        content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden
    }
}
.container{
    width:896px;
    padding:34px 115px 140px 165px;
    margin:0 auto;
    position:relative;
}

//页面头部导航
.list-crumb{
    position:relative;
    .crumb-item{
        color:#6886aa;
        padding:5px;
        font-size:14px;
        &:hover{
            color:#6093bb;
            cursor:pointer;
        }
    }
    .now-crumb{
        color:#666;
        padding:5px;
        font-size:14px;
    }
}
.list-container{
    color:#333;
    .list-item{
        position: relative;
        float: left;
        height: 127px;
        width: 122px;
        margin-top: 24px;
        margin-right: 6px;
    }
    .list-box{
        float:left;
        position:relative;
        >a{
            display:block;
        }
    }
    .item-content{
        width:122px;
        height:126px;
        cursor:pointer;
        position:relative;
        line-height:175px;
        text-align:center;
        border:1px solid transparent;
        border-radius:2px;
        .file{

        }
        &:hover{
            border:1px solid #d0d0d0;
            border-radius:2px;
            background:#e0e0e0;
        }
    }
    .file-operations{
        position:absolute;
        @include box-shadow(0 5px 8px 0 #ccc);
        top:132px;
        left:0;
        width:220px;
        background:#fff;
        color:#7d7d7d;
        z-index:100;
        display:none;
        cursor:default;
        border-radius:3px;
        &.active{
            display:block;
        }
    }
}