div,ul,li{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
.clearfix{
    height:1%;
    &:after{
        content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden
    }
}
.container{
    width:896px;
    padding:34px 115px 140px 165px;
    margin:0 auto;
    position:relative;
}

//页面头部导航
.list-crumb{
    position:relative;
    .crumb-item{
        color:#6886aa;
        padding:5px;
        font-size:14px;
        &:hover{
            color:#6093bb;
            cursor:pointer;
        }
    }
    .now-crumb{
        color:#666;
        padding:5px;
        font-size:14px;
    }
}
.list-container{
    color:#333;
    .list-item{
        position: relative;
        float: left;
        height: 127px;
        width: 122px;
        margin-top: 24px;
        margin-right: 6px;
    }
}