.container{
    height:100%;
    .dataShow{
        width:calc( 100% - 321px );
        height:100%;
        float:left;
        position:relative;
        .cost-left{
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            right:30%;
            border-right:1px solid #e5e5e5;
            .cost-table{
                min-height:400px;
                padding:10px 20px;
            }
            .cost-linechart{
                padding:10px 20px;
                border-top:1px solid #e5e5e5;
            }
        }
        .cost-right{
            right:0;
            left:calc(70% + 1px) ;
            position:absolute;
            height:100%;
            ul{
                height:100%;
                li{
                    height:50%;
                    padding:10px 20px;
                    &:first-child{
                        border-bottom:1px solid #e5e5e5;
                    }
                }
            }
        }
    }
    .dataEntry{
        width:320px;
        float:right;
        background-color:#e5e5e5;
        height:100%;
        .actions{
            padding:10px;
            background-color:#e5e5e5;
            >li{
                line-height:28px;
                label{
                    margin-left:10px;
                }
                input,select,textarea{
                    margin-left:30px;
                }
                &.submit{
                    line-height:50px;
                    vertical-align:middle;
                    text-align:center;
                    button{
                        width:50%;
                        height:35px;
                        font-size:18px;
                    }
                }
            }
        }
    }
}
.toolbar{
    text-align:center;
    .button{
        height:34px;
    }
    .prev{
        float:left;
        width:66px;
        height:34px;
    }
    .next{
        float:right;
        width:66px;
        height:34px;
    }
    .search{
        display:inline-block;
        width:calc(100% - 80px - 108px);
        .input-group{
            position: relative;
            display: table;
            border-collapse: separate;
            .input{
                display:table-cell;
                float:left;
                z-index:2;
                width:100%;
                position:relative;
            }
            .search{
                border-left:0 !important;
                width:1%;
                display:table-cell;
                white-space:nowrap;
                vertical-align:middle;
                padding:1px 12px;
                border:1px solid #e5e5e5;
                background-color:#eee;
                cursor:pointer;
            }
        }
    }
}