.container{
    height:100%;
    .dataShow{
        width:calc( 100% - 321px );
        height:100%;
        float:left;
    }
    .dataEntry{
        width:320px;
        float:right;
        background-color:#e5e5e5;
        height:100%;
        .actions{
            padding:10px;
            background-color:#e5e5e5;
            >li{
                line-height:28px;
                label{
                    margin-left:10px;
                }
                input,select,textarea{
                    margin-left:30px;
                }
                &.submit{
                    line-height:50px;
                    vertical-align:middle;
                    text-align:center;
                    button{
                        width:50%;
                        height:35px;
                        font-size:18px;
                    }
                }
            }
        }
    }
}