@import "compass/css3";
.container{
    height: calc(100% - 101px);
    padding:40px 0 20px 0;
    position:relative;
    .button{
        position:absolute;
        left:10px;
        top:5px;
    }
}
.dictionaryItem{
    margin-bottom:20px;
    box-shadow: 2px 2px 3px #ddd;
    background-color:#fff;
    color:#969696;
}
.column{
    display:inline-block;
    padding:0 20px;
    vertical-align:top;
    >ul{
    }
}

