@import "Compass/css3";
@import "compass/css3/transform";

@import "base";
body{
    padding:0;
    margin:0;
    font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei" !important;
    font-size:12px !important;
}
.navbar{   
    background-color:#e5e5e5;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
    height:50px;
}
.main-container{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
    background-color:rgb(240, 240, 240);
    z-index: 100;
    .sidebar{
        width:180px;
        display:block;
        position:fixed;
        top:50px;
        bottom:0;
        background-color:#293038;
        z-index:102;
        overflow-x:hidden;
        .sidebar-content{
            width:200px;
            height:100%;
            overflow:auto;
            overflow-x:hidden;
        }
    }
    .content{
        left:180px;
        background-color:#f7f7f7;
        width:auto;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        overflow-x:hidden;
        overflow-y:auto;
        .header{
            height:40px;
            border-bottom:1px solid #e5e5e5;
            position:relative;
            span{
                letter-spacing:10px;
                font-size:18px;
                line-height:39px;
                color:#808080;
                height:39px;
                display:inline-block;
                padding:0 20px 0 30px;
                border-bottom:2px solid #0099cc;
                position:absolute;
                cursor:pointer;
                overflow:hidden;
            }
        }
    }
}
//菜单栏组件
.sidebar-nav{
    width:180px;
    .sidebar-title{
        height: 40px;
        background: #22282e;
        color: #fff;
        line-height: 40px;
        position: relative;
        cursor: pointer;
        &:hover{
            background-color:#414d5c
        }
    }
    .sidebar-title-icon{
        display:inline-block;
        margin:0 8px 8px 20px;
        vertical-align:middle;
        @include transition(transform 0.25s);
    }
    ul{
        margin:0;
        padding:0;
        list-style:none;
        overflow:hidden;
    }
    .sidebar-trans{
        @include transition(all 0.25s ease,0.25s ease);
    }
    .nav-item{
        position:relative;
    }
    li{
        a{
            display:block;
            width:100%;
            height:40px;
            line-height:40px;
            overflow:hidden;
            &:hover{
                background:#37424f;
                .nav-icon,.nav-title{
                    color:#fff;
                }
            }
        }
        &.active{
            a{
                background:#0099cc;
                .nav-icon,.nav-title{
                    color:#fff;
                }
            }
        }
    }
    .nav-icon{
        width: 50px;
        text-align: center;
        font-size: 16px;
        float: left;
        color: #aeb9c2;
    }
    .nav-title{
        float: left;
        overflow: hidden;
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 130px;
    }
    &.sidebar-nav-fold{
        .sidebar-title{
            background-color:#37424f;
            border-bottom:1px solid #414d5c;
        }
        .sidebar-title-icon{
            @include rotate(-90deg);
        }
        ul{
            height:0 !important;
            overflow:hidden;
        }
    }
}
