@model MyLife.Models.DictionaryModel

@{
    ViewBag.Title = "字典设置";
    ViewBag.Header = "愿芸芸众生，都能找到自己的归属";
}
<link rel="stylesheet" href="~/Frontend/css/Dictonary.css" />
<div class="container">
    <div></div>
</div>
@section scripts{
    <script src="~/Frontend/js/JsRender.js"></script>    
    <script id="dictonariesUnit" type="text/x-jsrender">
        <li id={{:ID}}>
            <div class="dictionaryItem">
                <h4>{{:Name}}</h4>
                <ul>
                    {{for Dictionaries}}
                    <li>{{:Name}}</li>
                    {{/for}}
                </ul>
            </div>
        </li>        
    </script>
    <script>
        let dictorys=@Html.Raw(Json.Encode(ViewData["data"]));
    </script>
    <script src="~/Frontend/js/app/dictonary.js"></script>   
}

