@model MyLife.Models.DictionaryModel

@{
    ViewBag.Title = "字典设置";
    ViewBag.Header = "愿芸芸众生，都能找到自己的归属";
}
<link rel="stylesheet" href="~/Frontend/css/Dictonary.css" />
<div class="container"></div>
@section scripts{
    <script src="~/Frontend/js/app/dictonary.js"></script>   
    <script src="~/Frontend/js/app/waterfall.js"></script> 
}

